html, body {
    height: 100%;
    width:100%;
    background: black;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#container {
   background-color:#BB4430;
   color:white;
   height:100%;
   border: 8px solid #f7f76f;
   border-radius: 30px;
   display: block;
   

}


#board {
  background: #F4EA7C;
   background-repeat: no-repeat;
   height:100%;
   position: relative;
   display:none;
   
   

  
}

#contBtn {
        width: 68px;
        height: 25px;
        background: pink;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 20px;
        position: relative;
        top: 310px;
        left: 132px;
        display:none;
        

}

#Iran {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 834px;
    bottom: 340px;
}


.span {
    text-align:center;
    color:pink;
}


    

#messageBox{
    color: white;
    font-size:20px;
    line-height:25px;
    background: rgba(0, 0, 0, 0.92);
    width: 330px;
    height: 421px;
    position: absolute;
    left: 450px;
    bottom: 0;
    border-radius: 60px 60px 15px 15px;
    padding: 25px 20px 20px 28px;
    display: none;
}

.map{
    width:80%;
    height:auto;
    position: relative;
    left:100px;
    top: 40px;
    padding:20px;
}


.submitButn {
    background:#274077;
    color:white;
    font-size:15px;
    width: 80px; 
    height:50px;
    border-radius: 20px;
}

.detective{
    width:40%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    text-align: center;
    margin:20px;
}

