html, body {
    height: 100%;
    width:100%;
    background: black;
 
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Lora', serif;
}

#container {
   background-color:#BB4430;
   color:white;
   height:100%;
   border: 8px solid #f7f76f;
   border-radius: 30px;
   display: block;
   position: relative;
   margin-top:-45px;
   

}

.submitButn {
    background: #274077;
    color: white;
    font-size: 14px;
    width: 68px;
    height: 40px;
    padding: 5px;
    border-radius: 16px;
    position: relative;
    left:5px;
}

.rules {
    background: #274077;
    color: white;
    font-size: 12px;
    width: 68px;
    height: 40px;
    padding: 5px 5px 14px 5px;
    border-radius: 16px;
    position: relative;
    left: 885px;
    top: 486px;
    display: none;
}


#board {
  background: #F4EA7C;
   background-repeat: no-repeat;
   height:100%;
   position: relative;
   display:none;
   
   

  
}

#contBtn {
        width: 68px;
        height: 25px;
        text-align:center;
        background: pink;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        top: 310px;
        left: 132px;
        display:none;
        

}

#Iran {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 815px;
    bottom: 370px;
    display:none;
}



#Australia {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 1110px;
    bottom: 150px;
    display:none;
}

#France {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 650px;
    bottom: 430px;
    display:none;
}
#Russia {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 740px;
    bottom: 480px;
    display:none;
}

#Brazil {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 495px;
    bottom: 190px;
    display:none;
}


#India {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 885px;
    bottom: 350px;
    display:none;
}

#Mexico {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 340px;
    bottom:318px;
    display:none;
}

#China {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 1010px;
    bottom: 385px;
    display:none;
}

#unitedStates {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 410px;
    bottom:395px;
    display:none;
}

 


.span {
    text-align:center;
    color:pink;
}


    

#messageBox{
    color: white;
    font-size:20px;
    line-height:30px;
    background: rgba(0, 0, 0, 0.92);
    width: 380px;
    height: 421px;
    position: absolute;
    left: 470px;
    bottom: 0;
    border-radius: 60px 60px 15px 15px;
    padding: 25px 20px 20px 28px;
    display: none;
    animation: fadein 1s; 
  
   
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.map{
    width:80%;
    height:auto;
    position: relative;
    left:100px;
    top: 15px;
    padding:20px;
}




.detective{
    width:40%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form {
    text-align: center;
    margin:20px;
    font-size:20px;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    font-size:10px;
    visibility: hidden;
    width: 70px;
    height:15px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left:100%;
    right:-100%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#moneyBox {
    background:black;
    color:white;
    border: 3px solid green;
    width:140px;
    height:30px;
   padding:5px 0px 0px 5px ;
    position: relative;
    left: 1040px;
    bottom: 690px;
    
}



    


#gameOver {
    background-color:black;
    height:100%;
    display: none;
    color:red;
    font-size:50px;
    text-align:center;
 

}

.reset {
    width: 79px;
    height: 32px;
    text-align: center;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    top: 310px;
    left: 686px;
   
}